/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.navbar {
    .nav-header {
        text-decoration: none;
        font-size: 35px;
        color: black;
        font-family: 'Poppins', sans-serif;
    }
    .nav-link {
        text-decoration: none;
        color: black;
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
    }
    .block {
        width: 60%;
    }

    
}

.item-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.downleft {
    margin-left: 800px;
    font-size: 10px;
}

.margin-left {
    margin-left: 10px;
}

.bg-ivory {
    background-color: #F2F1E8 !important;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

h3 {
    font-family: 'Poppins', sans-serif;
}

main {
    padding-left: 200px;
}

body {
    overflow-y: scroll;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.shadow {
    box-shadow: 15px 15px 8px black;
}

.seperator {
    margin-top: auto;
    margin-bottom: auto;
    width: 2px;
    height: 70%;
    background-color: lightgrey;
}

.bold {
    font-weight: 700;
}

.smallprint {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex: 1;
}

.text-warp {
    word-wrap: break-word;
}

.text-center {
    text-align: center;
}