// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.landing {
    width: 100%;
    height: 800px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    padding: 20px;
    height: 700px;
}

#motto {
    margin-bottom: 200px;
    margin-right: 300px;
}

.info-card {
    width: 395px;
    height: 145px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5px;
    border-radius: .25rem;
}

.info-text {
    margin-left: 5px;
}

.icon {
    height: 100px;
    width: 120px;
}

#imagedisplay {
    height: 700px;
    width: 800px;
}

.custom-shape-divider-bottom-1630496031 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.bg-alice-blue {
    background-color: lightskyblue;
}

.custom-shape-divider-bottom-1630496031 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 206px;
}

.custom-shape-divider-bottom-1630496031 .shape-fill {
    fill: lightskyblue;
}