<section class="bg-ivory center" style="height: 800px;">
    <div class="column" style="width: 50%; flex: 0;">
        <h1>Edit your gig.</h1>

        <%= render 'form', gig: @gig %>

        <%= link_to  "Back", root_path, class: "gobacktolastpage" %>   
    </div>
</section>