<section class="bg-ivory center" style="height: 800px;">
    <div class="column" style="width: 50%; flex: 0;">
        <h1>Create a gig!</h1>

        <%= render 'form', gig: @gig %>    
    </div>
</section>