<section class="bg-ivory center" style="height: 800px;">
    <div class="column" style="width: 70%; flex: 0;">
        <h1 style="width: 700px;"><%= @gig.title %></h1>
        <h3 class="bottomborder" style="margin-top: 100px;">Description</h3>
        <div class="trix-content">
            <%= @gig.description %>
        </div>
    </div>
</section>